/* .login {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #164444;
    display: flex;
    align-items: center;
}

.modalInner {
    position: relative;
    z-index: 30;
    box-shadow: 1px 6px 8px rgba(#000000, 0.3);
    width: 200px;
    margin: 0 auto 8-px auto;
    border-radius: 20px;
    background: #F4D8CD;
    text-align: center;
}

.close {
    position: absolute;
    right: 10px;
    color: white;
    top: 10px;
    text-align: center;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
} */

:root {
  --pumkinOrange: #ec9b59;
  --pink: #f4d8cd;
  --lightGreen: #9eb19e;
  --darkGreen: #164444;
  --darkBlue: #00202b;
}
@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: railwayBlk;
}

@font-face {
  src: url("../fonts/Raleway-BoldItalic.ttf");
  font-family: railwayBldIt;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

.FormContainer {
  height: 100%;
  display: grid;
  grid-template-rows: 10% 90%;
}
.artistContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  text-align: center;
}
#artisth3 {
  grid-column: 2 / span 1;
  font-size: medium;
  font-family: railwayLight;
}
.artistSignUpForm {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.artistForm {
  grid-column: 2 / span 1;
  display: grid;
}
.artistInputSpace {
  border: 1px solid lightgray;
  border-radius: 13px;
  grid-row-gap: 13px;
  font-family: railwayLight;
  box-shadow: 1px 1px 4px;
}
.artistUploadImg {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}
#uploadHeader {
  font-family: railwayLight;
}
#artistImg {
  grid-area: 1/ 2 / span 1 / span 1;
  background-color: var(--lightGreen);
  font-family: railwayLight;
  border-radius: 13px;
  border: 1px solid var(--lightGreen);
}
