:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #ffffff;
  --steel: #55828b;
  --eerieBlk: #101515;
  --richBlk: #060808;
  --castletonGrn: #075d3e;
  --jade: #00a86b;
  --indiaGreen: #078809;
  --electricGreen: #00ff00;
  --eerieBlk2: #1c1e1e;
  --eerieBlk3: #212222;
  --spaceGrey: #5a7272;
}
@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: railwayBlk;
}

@font-face {
  src: url("../fonts/Raleway-BoldItalic.ttf");
  font-family: railwayBldIt;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

#BookMeButton {
  border: 2px solid var(--indiaGreen);
  border-radius: 10px;
  background-color: var(--eerieBlk3);
  box-shadow: 1px 1px 2px var(--spaceGrey);
  color: var(--jade) !important;
  transition: 1s;
}
#BookMeButton:hover {
  background-color: var(--jade);
  color: white !important;
  cursor: pointer;
}
.editArtistProfile {
  border: 2px solid black !important;
  border-radius: 10px;
  background-color: var(--jade) !important;
  box-shadow: 1px 1px 2px var(--eerieBlk3) !important;
  color: white !important;
  transition: 1s;
}
.editArtistProfile:hover {
  background-color: var(--kobe) !important;
  color: white !important;
  cursor: pointer;
}

.editArtistProfilePic {
  border: 2px solid black !important;
  border-radius: 10px;
  background-color: var(--jade) !important;
  box-shadow: 1px 1px 2px var(--eerieBlk3) !important;
  color: white !important;
  transition: 1s;
  width: 150px;
}

.editArtistProfilePic:hover {
  background-color: var(--kobe) !important;
  color: white !important;
  cursor: pointer;
}

#EditArtistProfileButton {
  border: 2px solid var(--darkSienna);
  border-radius: 10px;
  background-color: var(--floralWhite);
  box-shadow: 1px 1px 2px #888888;
  color: var(--darkSienna);
}
#EditArtistProfileButton:hover {
  background-color: var(--darkSienna);
  color: var(--floralWhite) !important;
  cursor: pointer;
}
.portfolioDiv {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.artistInfo {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-rows: 1fr 2fr;
  color: var(--jade) !important;
}
.artistBanner {
  border: 2px solid var(--indiaGreen) !important;
  background-color: rgba(28, 30, 30, 0.92) !important;
  box-shadow: 20px 20px 50px var(--eerieBlk);
  border-radius: 10px;
  padding: 10px;
  color: white !important;
  margin-bottom: 10px;
  margin: 0 10px 0 10px;
}
.infoDiv {
  grid-row: 1 / span 1;
  background-color: rgba(28, 30, 30, 0.92) !important;
  box-shadow: 20px 20px 50px var(--eerieBlk);
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  border: 2px solid var(--indiaGreen) !important;
}
.cityDiv {
  grid-row: 1 / span 1;
  padding: 2px;
}
.contactInfoDiv {
  grid-row: 2 / span 1;
  padding: 2px;
}
.bioDiv {
  grid-row: 3 / span 1;
  padding: 2px;
}
.bioContent {
  text-align: start;
  border: 2px solid var(--indiaGreen);
  border-radius: 10px;
  height: 100%;
  padding: 5px;
}
.labelInfo {
  color: white !important;
  text-shadow: 1px 1px 4px #000000;
}
.bookingsDisplayContainer {
  grid-row: 2 / span 1;
  border: 2px solid var(--indiaGreen);
  background-color: rgba(28, 30, 30, 0.92) !important;
  box-shadow: 20px 20px 50px var(--eerieBlk);
  color: white !important;
  border-radius: 10px;
  height: 100vh;
  overflow: scroll;
}

.toast {
  border: 1px solid var(--indiaGreen);
  margin-right: 20px;
}

.toast-header {
  color: white;
  background-color: var(--jade);
  border-bottom: 1px var(--jade);
}

.toast-body {
  color: white;
  background-color: var(--richBlk);
}
