:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #ffffff;
  --steel: #55828B;
  --eerieBlk: #101515;
  --richBlk: #060808;
  --castletonGrn: #075D3E;
  --jade: #00A86B;
  --indiaGreen: #078809;
  --electricGreen: #00FF00;
  --eerieBlk2: #1C1E1E;
  --eerieBlk3: #212222;
  --spaceGrey: #5A7272;
}
@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: railwayBlk;
}

@font-face {
  src: url("../fonts/Raleway-BoldItalic.ttf");
  font-family: railwayBldIt;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

#BookMeButton {
  border: 1px solid var(--jade);
  border-radius: 10px;
  background-color: var(--eerieBlk3);
  box-shadow: 1px 1px 2px var(--spaceGrey);
  color: var(--jade) !important;
  transition: 1s;
}
#BookMeButton:hover {
  background-color: var(--jade);
  color: white !important;
  cursor: pointer;
}
.editArtistProfile{
  border: 1px solid black !important;
  border-radius: 10px;
  background-color: var(--jade) !important; 
  box-shadow: 1px 1px 2px var(--eerieBlk3) !important;
  color: white !important;
  transition: 1s;
}
.editArtistProfile:hover {
  background-color: var(--kobe) !important;
  color: white !important;
  cursor: pointer;
}

#EditArtistProfileButton {
  border: 1px solid var(--darkSienna);
  border-radius: 10px;
  background-color: var(--floralWhite);
  box-shadow: 1px 1px 2px #888888;
  color: var(--darkSienna);
}
#EditArtistProfileButton:hover {
  background-color: var(--darkSienna);
  color: var(--floralWhite) !important;
  cursor: pointer;
}
.portfolioDiv {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.artistInfo{
  grid-column: 2/span 1;
  display: grid;
  grid-template-rows: 1fr 2fr;
  color: var(--jade) !important;
}
.artistBanner{
  border: 2px solid var(--jade) !important;
  background-color: rgba(28, 30, 30, 0.8) !important;
  border-radius: 10px;
  padding: 10px;
  color: white !important;
}
.infoDiv{
  grid-row: 1/ span 1;
  background-color: rgba(28, 30, 30, 0.8) !important;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  border: 1px solid var(--jade) !important;
}
.cityDiv{
  grid-row: 1 / span 1;
  padding: 2px;
}
.contactInfoDiv{
  grid-row: 2/ span 1;
  padding: 2px;
}
.bioDiv{
  grid-row: 3/ span 1;
  padding: 2px;
}
.bioContent{
  text-align: start;
  border: 1px solid var(--jade);
  border-radius: 10px;
  height: 100%;
  padding: 5px;
}
.labelInfo{
  color: white !important;
  text-shadow: 1px 1px 4px #000000;
}
.bookingsDisplayContainer{
  grid-row: 2/ span 1;
  border: 1px solid var(--jade);
  background-color: rgba(28, 30, 30, 0.8) !important;
  color: white !important;
  border-radius: 10px;
}