:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #fffaf0;
  --floralGrey: #f4efe5;
}

.artistSignUpInput {
  box-shadow: 1px 1px 2px #888888;
  background-color: var(--floralWhite);
  border-color: var(--darkSienna);
  outline: none;
}

.artistSignUpHeader {
  border-bottom-color: var(--floralGrey);
}

#labelitem {
  color: var(--darkSienna);
  text-shadow: 0.5px 0.3px 1px #888888;
}

.artistSignUpButton {
  background-color: var(--darkSienna) !important;
  color: var(--floralWhite) !important;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #888888;
  border: 2px solid var(--darkSienna) !important;
}

.artistUploadButton {
  background-color: var(--floralWhite) !important;
  color: var(--darkSienna) !important;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #888888;
  height: 35px;
  border: 2px solid var(--darkSienna) !important;
}
