:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #fffaf0;
}

@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: railwayBlk;
}

@font-face {
  src: url("../fonts/Raleway-BoldItalic.ttf");
  font-family: railwayBldIt;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

#BookMeButton {
  background-color: var(--darkSienna);
  color: var(--floralWhite);
  border-radius: 10px;
  border: 1px solid var(--darkSienna);
  box-shadow: 1px 1px 2px #888888;
  height: 100%;
}
#BookMeButton:hover {
  background-color: var(--floralWhite);
  color: var(--darkSienna) !important;
}

#EditArtistProfileButton {
  border: 1px solid var(--darkSienna);
  border-radius: 10px;
  background-color: var(--floralWhite);
  box-shadow: 1px 1px 2px #888888;
  color: var(--darkSienna);
}
#EditArtistProfileButton:hover {
  background-color: var(--darkSienna);
  color: var(--floralWhite) !important;
}
.portfolioDiv {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.artistInfo{
  grid-column: 2/span 1;
  display: grid;
  grid-template-rows: 1fr 2fr;
  color: var(--darkSienna) !important;
}
.artistBanner{
  border: 1px solid var(--darkSienna);
  border-radius: 10px;
  padding: 10px;
}
.infoDiv{
  grid-row: 1/ span 1;
  background-color: var(--Cinereous) !important;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
}
.cityDiv{
  grid-row: 1 / span 1;
  padding: 2px;
}
.contactInfoDiv{
  grid-row: 2/ span 1;
  padding: 2px;
}
.bioDiv{
  grid-row: 3/ span 1;
  padding: 2px;
}
.bioContent{
  text-align: start;
  border: 1px solid var(--darkSienna);
  border-radius: 10px;
  height: 100%;
  padding: 5px;
}
.bookingsDisplayContainer{
  grid-row: 2/ span 1;
}
.labelInfo{
  color: var(--floralWhite);
  text-shadow: 1px 1px 4px #000000;
}
.bookingsDisplayContainer{
  border: 1px solid var(--darkSienna);
  border-radius: 10px;
}