:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #ffffff;
  --steel: #55828b;
  --eerieBlk: #101515;
  --richBlk: #060808;
  --castletonGrn: #075d3e;
  --jade: #00a86b;
  --indiaGreen: #078809;
  --electricGreen: #00ff00;
  --eerieBlk2: #1c1e1e;
  --eerieBlk3: #212222;
  --spaceGrey: #5a7272;
}

.bookingRequestModalHeader {
  background-color: var(--jade) !important;
  border-bottom-color: var(--eerieBlk) !important;
  color: white !important;
  text-shadow: 0.5px 0.3px 1px var(--eerieBlk);
}

.BookingRequestModal {
  border-radius: 10px !important;
}

.bookingRequestModalBody {
  background-color: var(--eerieBlk3) !important;
  border-top-color: var(--eerieBlk3) !important;
}

.bookMeModalInput {
  box-shadow: 1px 1px 2px var(--eerieBlk);
  background-color: var(--floralWhite) !important;
  border-color: var(--eerieBlk);
  outline: none;
}

.bookingRequestModalCloseButton {
    background-color: var(--eerieBlk3) !important;
    color: var(--jade) !important;
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--eerieBlk) !important;
    border: 2px solid var(--eerieBlk3) !important;
    transition: 1s;
  }


.bookingRequestModalCloseButton:hover {
    background-color: var(--jade) !important;
    color: white !important;
    cursor: pointer;
}