:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #ffffff;
  --steel: #55828b;
  --eerieBlk: #101515;
  --richBlk: #060808;
  --castletonGrn: #075d3e;
  --jade: #00a86b;
  --indiaGreen: #078809;
  --electricGreen: #00ff00;
  --eerieBlk2: #1c1e1e;
  --eerieBlk3: #212222;
  --spaceGrey: #5a7272;
}

.clientContactHeader {
  background-color: var(--jade);
  border-bottom-color: var(--eerieBlk);
  color: white !important;
  text-shadow: 0.5px 0.3px 1px var(--eerieBlk);
}

.contactModalButton {
  background-color: var(--eerieBlk3) !important;
  color: var(--jade) !important;
  border-radius: 10px;
  box-shadow: 1px 1px 2px var(--eerieBlk);
  border: 1px solid var(--eerieBlk3) !important;
  transition: 1s;
}

.contactModalButton:hover {
  background-color: var(--jade) !important;
  color: white !important;
  cursor: pointer;
}

#labelItem {
  color: var(--jade);
  text-shadow: 0.5px 0.3px 1px var(--eerieBlk);
}

.contactModalCloseButton {
  background-color: var(--eerieBlk3) !important;
  color: var(--jade) !important;
  border-radius: 10px;
  box-shadow: 1px 1px 2px var(--eerieBlk) !important;
  border: 1px solid var(--eerieBlk3) !important;
  transition: 1s;
}

.contactModalCloseButton:hover {
  background-color: var(--jade) !important;
  color: white !important;
  cursor: pointer;
}

.contactModalInput {
  box-shadow: 1px 1px 2px var(--eerieBlk);
  background-color: white;
  border-color: var(--eerieBlk);
  outline: none;
}

.clientContactBody {
  background-color: var(--eerieBlk3) !important;
  border-top-color: var(--eerieBlk3) !important;
}

.contactModalBodyFooter {
  background-color: var(--eerieBlk3) !important;
  border-top-color: var(--eerieBlk3) !important;
}
