:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #ffffff;
  --steel: #55828b;
  --eerieBlk: #101515;
  --richBlk: #060808;
  --castletonGrn: #075d3e;
  --jade: #00a86b;
  --indiaGreen: #078809;
  --electricGreen: #00ff00;
  --eerieBlk2: #1c1e1e;
  --eerieBlk3: #212222;
  --spaceGrey: #5a7272;
}
.clientSignUpInput {
  box-shadow: 1px 1px 2px var(--eerieBlk);
  background-color: var(--floralWhite);
  border-color: var(--eerieBlk);
  outline: none;
}

.clientSignUpHeader {
  border-bottom-color: var(--floralGrey);
}

#labelItem {
  color: var(--jade);
  text-shadow: 0.5px 0.3px 1px var(--eerieBlk);
}

.clientSignUpBody {
  background-color: var(--floralGrey);
}

#exampleModalLongTitle {
  color: white;
  text-shadow: 0.5px 0.3px 1px var(--eerieBlk2);
}

.clientSignUpButton {
  background-color: var(--eerieBlk3) !important;
  color: var(--jade) !important;
  border-radius: 10px;
  box-shadow: 1px 1px 2px var(--eerieBlk);
  border: 2px solid var(--eerieBlk3) !important;
}

.clientsignupbutton:hover {
  background-color: var(--kobe) !important;
  color: white !important;
}

.clientUploadButton {
  background-color: var(--jade) !important;
  color: white !important;
  border-radius: 10px;
  box-shadow: 1px 1px 2px var(--eerieBlk3);
  height: 35px;
  border: 2px solid var(--eerieBlk3) !important;
}
.clientUploadSignUp{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}
.labelClientSignUp{
  grid-area: 1/ 1/ span 1/ span 1;
}
.clientFile{
  grid-area: 2/ 1/ span 1/ span 3;
}
.clientSignSignUploadButton{
  grid-area: 3/ 1/ span 1/ span 1;
  background-color: var(--jade) !important;
  color: var(--eerieBlk2) !important;
  border-radius: 10px;
  height: 35px;
  border: 2px solid var(--eerieBlk2) !important;
}
.clientSignSignUploadButton:hover{
  background-color: var(--eerieBlk2) !important;
  color: var(--jade) !important;
  border: 2px solid var(--jade) !important;
  transition: .5s;
}
.clientSignUpButton{
  grid-area: 3/ 2/ span 1/ span 1;
  background-color: var(--kobe) !important;
  color: var(--floralWhite) !important;
  border-radius: 10px;
  border: 2px solid var(--eerieBlk2) !important;
}
.clientSignUpButton:hover{
  background-color: var(--jade) !important;
  border: 2px solid var(--eerieBlk2) !important;
  color: var(--eerieBlk2) !important;
  transition: .5s;
}