:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #ffffff;
  --steel: #55828b;
  --eerieBlk: #101515;
  --richBlk: #060808;
  --castletonGrn: #075d3e;
  --jade: #00a86b;
  --indiaGreen: #078809;
  --electricGreen: #00ff00;
  --eerieBlk2: #1c1e1e;
  --eerieBlk3: #212222;
  --spaceGrey: #5a7272;
}
@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: railwayBlk;
}

@font-face {
  src: url("../fonts/Raleway-BoldItalic.ttf");
  font-family: railwayBldIt;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

.clientProfileContainer {
  grid-column: 2 / span 1;
  display: grid;
  grid-template-columns: 1% 3fr 1%;
  grid-template-rows: 25% 1fr;
}
.ClientInfoProfile {
  grid-area: 2/ 2 / span 1 / span 1;
  display: grid;
  grid-template-rows: 15% 15% 50% 20%;
  grid-row-gap: 15px;
}
.ClientNameDiv {
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

#deleteBttn {
  height: 35px;
  width: 35px;
}

#deleteBttn:hover {
  height: 30px;
  width: 30px;
}

.editClientProfile {
  border: 2px solid black !important;
  border-radius: 10px;
  background-color: var(--jade) !important;
  box-shadow: 1px 1px 2px var(--eerieBlk3) !important;
  color: white !important;
  transition: 1s;
}
.editClientProfile:hover {
  background-color: var(--kobe) !important;
  color: white !important;
  cursor: pointer;
}
