:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #fffaf0;
}

.displaySignUpContainer{
  display: grid;
  border-radius: 13px;
  grid-template-rows: 5% 95%;
  height: 100%;
}
.buttonContainer{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
};

.displayHeaderSignUp {
  background-color: var(--PaleSilver) !important;
  border-bottom-color: var(--PaleSilver) !important;
  color: var(--floralWhite) !important;
  text-shadow: 0.5px 0.3px 1px #888888 !important;
}
