:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #ffffff;
  --steel: #55828b;
  --eerieBlk: #101515;
  --richBlk: #060808;
  --castletonGrn: #075d3e;
  --jade: #00a86b;
  --indiaGreen: #078809;
  --electricGreen: #00ff00;
  --eerieBlk2: #1c1e1e;
  --eerieBlk3: #212222;
  --spaceGrey: #5a7272;
}

.eventDisplay {
  position: relative;
  top: 50px;
}

.eventJumbo {
  background-color: rgba(28, 30, 30, 0.92) !important;
  box-shadow: 20px 20px 50px var(--eerieBlk);
  border: 2px solid var(--jade);
  border-radius: 10px;
  color: white;
  transition: 2s;
}
