@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: railwayBlk;
}

@font-face {
  src: url("../fonts/Raleway-BoldItalic.ttf");
  font-family: railwayBldIt;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

.eventFormDiv {
  display: grid;
  grid-template-rows: 30% auto;
  justify-content: center;
}

.eventFormTitle {
  font-size: 24px;
  font-weight: bolder;
  font-family: railwayLight;
}

.eventForm {
  display: flex;
  flex-direction: column;
}

.eventFormInput {
  font-family: railwayLight;
}
