:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #ffffff;
  --steel: #55828b;
  --eerieBlk: #101515;
  --richBlk: #060808;
  --castletonGrn: #075d3e;
  --jade: #00a86b;
  --indiaGreen: #078809;
  --electricGreen: #00ff00;
  --eerieBlk2: #1c1e1e;
  --eerieBlk3: #212222;
  --spaceGrey: #5a7272;
}

.guestHeader {
  background-color: var(--jade) !important;
  border-radius: 11px 11px 0px 0px;
  border-bottom: 1px solid var(--jade) !important;
}
.guestBody{
    background-color: var(--eerieBlk2) !important;
    border-radius: 0px 0px 11px 11px;
}
.guestLogInBtn{
    border: 2px solid var(--jade) !important;
    border-radius: 13px;
    color: var(--jade) !important;
    text-align: center;
}
.guestLogInBtn:hover{
    color: var(--eerieBlk2) !important;
    background-color: var(--jade) !important;
    transition: .5s !important;
}
.guestContent{
    border-radius: 13px;
    border: 2px solid var(--jade) !important;
}

