/* .login {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: #164444;
    display: flex;
    align-items: center;
}

.modalInner {
    position: relative;
    z-index: 30;
    box-shadow: 1px 6px 8px rgba(#000000, 0.3);
    width: 200px;
    margin: 0 auto 8-px auto;
    border-radius: 20px;
    background: #F4D8CD;
    text-align: center;
}

.close {
    position: absolute;
    right: 10px;
    color: white;
    top: 10px;
    text-align: center;
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer;
} */

:root {
  --pumpkinOrange: #ec9b59;
  --pink: #E29678;
  --lightGreen: #9eb19e;
  --darkGreen: #164444;
  --darkBlue: #00202b;
}
@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: railwayBlk;
}

@font-face {
  src: url("../fonts/Raleway-BoldItalic.ttf");
  font-family: railwayBldIt;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

.homeContainer {
  display: grid;
  background-color: var(--darkBlue);
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 2% 2fr 1fr 2fr 2%;
  height: 100%;
  z-index: 1;
  padding: 60px;
  height: 200%;
}

.searchHomeContainer {
  display: grid;
  background-color: var(--darkGreen);
  grid-area: 2 / 2 / span 1 / span 1;
  height: 100%;
  z-index: 2;
  grid-template-columns: 10% 80% 10%;
  padding: 40px;
  border-radius: 23px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
}

.aboutContainer {
/* padding-top: 45px; */
grid-area: 4 / 2 / span 1 / span 2;
}

.titleContainer{
  /* background-color: var(--); */
  padding: 20px;
}
.pinkContainer {
  display: grid;
  z-index: 3;
  background-color: var(--pumpkinOrange);
  /* background-image: linear-gradient(
    to right,
    var(--lightGreen),
    var(--pumpkinOrange),
    var(--pink)
  ); */
  grid-column: 2 / span 1;
  text-align: center;
  border-radius: 23px;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
}

#titleHeader {
  z-index: 4;
  color: var(--lightGreen);
  text-shadow: 2px 2px 1px black;
  font-family: railwayLight;
}
