:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #ffffff;
  --steel: #3a5049;
  --eerieBlk: #101515;
  --richBlk: #060808;
  --castletonGrn: #075D3E;
  --jade: #00A86B;
  --indiaGreen: #078809;
  --electricGreen: #00FF00;
  --eerieBlk2: #1C1E1E;
  --eerieBlk3: #212222;
  --spaceGrey: #5A7272;
  --hotPink: #FF69B4;
  --scarlet: #ff2400;
  --kobe: #881D0B;
}

@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: railwayBlk;
}

@font-face {
  src: url("../fonts/Raleway-BoldItalic.ttf");
  font-family: railwayBldIt;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

.navbar {
  background-color: var(--eerieBlk) !important;
  border-bottom: 1px solid var(--jade) !important;
  box-shadow: 1px 1px 2px var(--eerieBlk);
}

.navTitle {
  color: var(--floralWhite) !important;
}
a:hover {
  background-color: 000000 !important;
}

.roadieNav a {
  margin-right: 20px;
}

.nav-item {
  padding: 5px 10px;
  margin: 2px 3px;
}

.logoutBttn {
  border: 1px solid var(--eerieBlk3);
  border-radius: 10px;
  background-color: var(--eerieBlk3);
  box-shadow: 1px 1px 2px var(--eerieBlk);
  color: var(--jade) !important;
  transition: 1s;
}

.logoutBttn:hover {
  background-color: var(--jade);
  color: white !important;
}

.profileTab {
  border: 1px solid var(--eerieBlk3);
  border-radius: 10px;
  background-color: var(--jade);
  box-shadow: 1px 1px 2px var(--eerieBlk);
  color: white !important;
  transition: 1s;
}

.profileTab:hover {
  background-color: var(--kobe);
  color: white !important;
}


.roadieLogIn {
  border: 1px solid var(--eerieBlk3);
  border-radius: 10px;
  background-color: var(--eerieBlk3);
  box-shadow: 1px 1px 2px var(--eerieBlk);
  color: var(--jade) !important;
  transition: 1s;
}

.roadieLogIn:hover {
  background-color: var(--jade);
  color: white !important;
}


.roadieSignUp {
  border: 1px solid var(--eerieBlk3);
  box-shadow: 1px 1px 2px var(--eerieBlk);
  color: var(--jade) !important;
  background-color: var(--eerieBlk3);
  border-radius: 10px;
  transition: 1s;
}

.roadieSignUp:hover {
  background-color: var(--jade);
  color: white !important;
}

#navbarDropdownMenuLink {
  color: #ffffff;
}

.dropdown-item {
  background-color: var(--eerieBlk) !important;
  color: white !important;
  transition: 1s;
}

.dropdown-item:hover {
  background-color: var(--jade) !important;
  color: white !important;
}
.dropdown-menu {
  background-color: var(--eerieBlk) !important;
  box-shadow: 1px 1px 2px var(--eerieBlk) !important;
}

.bell {
  height: auto;
  width: 40px;
  align-self: center;
  /* background-color: white !important; */
  filter: invert(100%);
}
#roadieR{
  color: var(--jade) !important;
  font-weight: bold !important;
}
#roadieLogo{
  margin-right: 5px;
}