@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: railwayBlk;
}

@font-face {
  src: url("../fonts/Raleway-BoldItalic.ttf");
  font-family: railwayBldIt;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 100px;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  opacity: 80%;
}

.navLogo {
  height: 85px;
  width: 85px;
}

.navButton {
  text-decoration: none;
}
