:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #ffffff;
  --steel: #3a5049;
  --eerieBlk: #101515;
  --richBlk: #060808;
  --castletonGrn: #075d3e;
  --jade: #00a86b;
  --indiaGreen: #078809;
  --electricGreen: #00ff00;
  --eerieBlk2: #1c1e1e;
  --eerieBlk3: #212222;
  --spaceGrey: #5a7272;
  --hotPink: #ff69b4;
  --scarlet: #ff2400;
  --kobe: #881d0b;
}

@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: railwayBlk;
}

@font-face {
  src: url("../fonts/Raleway-BoldItalic.ttf");
  font-family: railwayBldIt;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

.navbar {
  background-color: var(--eerieBlk) !important;
  border-bottom: 1px solid var(--jade) !important;
  box-shadow: 1px 1px 2px var(--eerieBlk);
}

.navTitle {
  color: var(--floralWhite) !important;
}
a:hover {
  background-color: 000000 !important;
}

.roadieNav a {
  margin-right: 20px;
}

.nav-item {
  padding: 5px 10px;
  margin: 2px 3px;
}

.logoutBttn {
  border: 2px solid var(--eerieBlk3);
  border-radius: 10px;
  background-color: var(--eerieBlk3);
  box-shadow: 1px 1px 2px var(--eerieBlk);
  color: var(--jade) !important;
  transition: 1s;
}

.logoutBttn:hover {
  background-color: var(--jade);
  color: white !important;
}

.profileTab {
  border: 2px solid var(--eerieBlk3);
  border-radius: 10px;
  background-color: var(--jade);
  box-shadow: 1px 1px 2px var(--eerieBlk);
  color: white !important;
  transition: 1s;
}

.profileTab:hover {
  background-color: var(--kobe);
  color: white !important;
}

.roadieLogIn {
  border: 2px solid var(--eerieBlk3);
  border-radius: 10px;
  background-color: var(--eerieBlk3);
  box-shadow: 1px 1px 2px var(--eerieBlk);
  color: var(--jade) !important;
  transition: 1s;
  text-align: center;
}

.roadieLogIn:hover {
  background-color: var(--jade);
  color: white !important;
}

.roadieSignUp {
  border: 2px solid var(--eerieBlk3);
  box-shadow: 1px 1px 2px var(--eerieBlk);
  color: var(--jade) !important;
  background-color: var(--eerieBlk3);
  border-radius: 10px;
  transition: 1s;
  text-align: center;
}

.roadieSignUp:hover {
  background-color: var(--jade);
  color: white !important;
}

#navbarDropdownMenuLink {
  color: #ffffff;
}

.dropdown-item {
  background-color: var(--eerieBlk) !important;
  color: white !important;
  transition: 1s;
}

.dropdown-item:hover {
  background-color: var(--jade) !important;
  color: white !important;
}
.dropdown-menu {
  background-color: var(--eerieBlk) !important;
  box-shadow: 1px 1px 2px var(--eerieBlk) !important;
}

.bell {
  height: auto;
  width: 26px;
  align-self: center;
  filter: invert(100%);
}
.btn-secondary{
  background: var(--eerieBlk) !important;
  border: 2px solid var(--jade) !important;
}
.btn-secondary:hover{
  background: var(--kobe) !important;
  border: 2px solid var(--eerieBlk) !important;
  transition: .5s;
}

#dropdownMenuButton {
  background-color: var(--richBlk) !important;
  border: 2px solid var(--jade) !important;
}
#roadieR {
  color: var(--jade) !important;
  font-weight: bold !important;
}
#roadieLogo {
  margin-right: 5px;
}

.notificationBtn .badge {
  position: absolute;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 12px;
}

.guestLogIn {
  border: 2px solid var(--eerieBlk3);
  border-radius: 10px;
  background-color: var(--eerieBlk3);
  box-shadow: 1px 1px 2px var(--eerieBlk);
  color: var(--jade) !important;
  transition: 1s;
  text-align: center;
}

.guestLogIn:hover {
  background-color: var(--jade);
  color: white !important;
}