:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #fffaf0;
}

@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: railwayBlk;
}

@font-face {
  src: url("../fonts/Raleway-BoldItalic.ttf");
  font-family: railwayBldIt;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

.roadieSearchButtonCol {
  padding: 0px 0px;
}
.roadieSearchButton{
  background-color: var(--darkSienna);
  color: var(--floralWhite);
  border-radius: 10px;
  box-shadow: 1px 1px 2px #888888;
  border: 1px solid var(--darkSienna);
}
.roadieSearchButton:hover{
  background-color: var(--floralWhite);
  color: var(--darkSienna);
  border: 1px solid var(--darkSienna);
}

.roadieForm{
  border-bottom: 1px solid var(--darkSienna);
  padding: 10px;
}

.jumbotronTitle {
  padding: 10px;
}

#searchInput {
  background-color: var(--floralWhite);
    border-color: var(--darkSienna);
    box-shadow: 1px 1px 2px #888888;
    outline: none;
}

input:focus {
  outline: none;
}

.roadieDropdown {
  background-color: var(--DesertSand);
  border-color: var(--darkSienna);
  box-shadow: 1px 1px 2px #888888;
}