.resultItem {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

/* .nameDisplay{
    grid-column: 2/ span 1;
} */

.picDisplay{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#profilePic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  grid-column: 2/ span 1;
  justify-self: center;
}
