:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #ffffff;
  --steel: #55828B;
  --eerieBlk: #101515;
  --richBlk: #060808;
  --castletonGrn: #075D3E;
  --jade: #00A86B;
  --indiaGreen: #078809;
  --electricGreen: #00FF00;
  --eerieBlk2: #1C1E1E;
  --eerieBlk3: #212222;
  --spaceGrey: #5A7272;
}

@font-face {
  src: url("../fonts/Raleway-Black.ttf");
  font-family: railwayBlk;
}

@font-face {
  src: url("../fonts/Raleway-BoldItalic.ttf");
  font-family: railwayBldIt;
}

@font-face {
  src: url("../fonts/Raleway-Light.ttf");
  font-family: railwayLight;
}

.roadieSearchButtonCol {
  padding: 0px 0px;
}
.roadieSearchButton{
  background-color: var(--jade);
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px var(--eerieBlk);
  border: 1px solid var(--jade);
  transition: 1s;
}
.roadieSearchButton:hover{
  background-color: var(--kobe);
  color: white;
  border: 1px solid var(--kobe);
}

.roadieForm{
  /* border-bottom: 1px solid var(--jade); */
  padding: 10px;
}

.jumbotronTitle {
  padding: 10px;
  text-shadow: 1px 1px 1px var(--eerieBlk);
}

#searchInput {
  background-color: white;
    border-color: var(--castletonGrn);
    box-shadow: 1px 1px 2px var(--eerieBlk);
    outline: none;
}

input:focus {
  outline: none;
}

.roadieDropdown {
  background-color: var(--eerieBlk3);
  color: white;
  border-color: var(--jade);
  box-shadow: 1px 1px 2px var(--eerieBlk);
}