.whyRoadie {
  padding: 20px;
  width: fit-content;
}
.whyRoadieJumbotron {
  border-radius: 10px;
  background-color: var(--eerieBlk3) !important;
  background-color: rgba(28, 30, 30, 0.92) !important;
  box-shadow: 20px 20px 50px var(--eerieBlk);
  border: 2px solid var(--jade) !important;
  color: white;
  border: 2px solid var(--eerieBlk3);
  transition: 2s;
}
#whyRh,
#whyRH4 {
  border-bottom: 3px solid var(--jade) !important;
  padding: 20px;
}
#WhyR {
  color: var(--jade) !important;
  font-weight: bold;
}
#whyRUl {
  border: 2px solid var(--jade);
  background-color: var(--eerieBlk2);
  border-radius: 13px;
  padding: 40px;
  list-style-type: none;
  font-weight: bold;
}
.whyBadge {
  padding: 6px;
  margin: 4px;
}

.whyRoadieSubHeader {
  padding: 40px;
  justify-content: center;
}
