:root {
    --pumkinOrange: #ec9b59;
    --pink: #f4d8cd;
    --lightGreen: #9eb19e;
    --darkGreen: #164444;
    --darkBlue: #00202b;
  }
.realClientProfile{
    display: grid;
    grid-template-columns: 1% 3fr 1%;
    background-color: var(--darkGreen);
}