:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #ffffff;
  --steel: #55828b;
  --eerieBlk: #101515;
  --richBlk: #060808;
  --castletonGrn: #075d3e;
  --jade: #00a86b;
  --indiaGreen: #078809;
  --electricGreen: #00ff00;
  --eerieBlk2: #1c1e1e;
  --eerieBlk3: #212222;
  --spaceGrey: #5a7272;
  --hotPink: #ff69b4;
  --scarlet: #ff2400;
  --kobe: #881d0b;
}

.App {
  /* background-color: var(--eerieBlk2); */
  background-image: url("../../frontend/src/features/images/svgFiles/wave.svg");
  background-color: var(--eerieBlk) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

label {
  color: var(--jade);
}
