:root {
  --darkSienna: #3c1414;
  --Cinereous: #9a8378;
  --DesertSand: #dbc2ad;
  --PaleSilver: #c9bbaa;
  --eggShell: #f8f2dc;
  --floralWhite: #fffaf0;
  --floralGrey: #F4EFE5;
}

.App {
  background-color: var(--floralGrey);
  position:absolute;
  width:100%;
  height:100%;
  overflow: scroll;
}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
